<div class="container-lg min-height-calc adjusted-padding">

  <h1 class="text-green text-center my-4">Salut à toi jeune entrepreneur !</h1>

  <h4 class="text-center my-2">Plus tard, des choix s'offriront à toi, mais pour le moment tu ne peux manager qu'une chose : </h4>
  <h4 class="text-center my-2">Les articles.</h4>

  <div class="w-100 d-flex justify-content-center mt-4">
    <%= link_to 'Manager les articles', admin_articles_path, class: "btn btn-primary"%>
  </div>
</div>
