<div class="container">
  <h1>SoroSoro</h1>
  <p>Gros blog des familles</p>
  <p>Design peut être un peu trop épuré</p>

  <img src="https://media.giphy.com/media/8OJdqYqN1Nii3UTD6l/giphy.gif">
</div>
