<div class="container-lg">
  <div class="row adjusted-padding">
    <div class="col-12 col-md-8">
      <h1 class="text-green mb-4">Nos Valeurs</h1>

      <p class="mb-2 text-justify text-justify">
        Trois amis passionnés de sport et conscients de son impact sur l’environnement. Voilà notre constat de base et ce qui nous guide pour construire SoroSoro.
      </p>
      <p class="mb-2 text-justify">
        Nous voulons pour nos clients des produits à la fois techniques, qui permettent de profiter de sa passion pour le sport de la manière la plus efficace, et respectueux de l’environnement.
      </p>
      <p class="mb-2 text-justify">
        Nous prêtons donc attention au niveau des produits utilisés, au lieu de production, à la manière de fabriquer, aux conditions de transport mais aussi aux conditions de travail des artisans et à leur rémunération.
      </p>

      <div class="row">
        <div class="col-12 col-lg-6">
          <p class="mb-2 text-justify">
            Pour ce faire, nous souhaitons mettre en avant les petits créateurs qui, partout en France et en Europe, font preuve d’initiative pour changer le monde du sport et le rendre plus vert.
          </p>
          <p class="mb-2 text-justify">
            Chacun d’eux est évidemment minutieusement choisi, nos partenaires doivent partager nos valeurs et notre passion. L’objectif est de discuter de sportif à sportif, nous connaissons les attentes des amateurs ou confirmés et nous essayons chaque jour de satisfaire leurs besoins.
          </p>
        </div>
        <div class="col-12 col-lg-6 my-3 d-flex align-items-center">
          <%#= image_tag 'foret.jpeg', class: "w-100" %>
          <img src="https://www.leparisien.fr/resizer/0ZDpXvN9-qwMxEBdJqvAGYV0w34=/932x582/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/CFELXAWRHGANTTBM32V4YQSJE4.jpg" alt="" class="w-100">
        </div>
      </div>

      <p class="mb-2 text-justify">
        Guidés par cette volonté de proposer une alternative aux grandes marques de sport via SoroSoro, nous avons voulu nous inspirer de la philosophie de vie japonaise pour laquelle nous avons beaucoup d’attirance et d’affection.
      </p>
      <p class="mb-2 text-justify">
        SoroSoro signifie « petit à petit » en japonais et cela traduit parfaitement ce que nous voulons valoriser avec des marques d’artisans locaux. Un changement d’habitude graduel qui va de la surconsommation à des achats plus sains, plus réfléchis et surtout via des marques en qui nous avons confiance.
      </p>
      <p class="mb-2 text-justify">
        Nous ne voulons pas nous adresser simplement aux personnes déjà très impliquées dans la cause environnementale mais aussi aux non-initiés, à ceux qui cherchent la technicité ou le prix bas d’un produit en dépit de la provenance et de la confection du bien.
      </p>
      <p class="mb-2 text-justify">
        Nous cherchons donc à prouver à travers nos partenaires qu’un vêtement, ou un accessoire de sport, peut être à la fois très technique et adapté à la pratique de son sport, mais aussi respectueux de la planète et de travailleurs.
      </p>
    </div>

    <%# Display right Panel %>
    <%= render 'shared/right_panel' %>
  </div>
</div>
