.card-link {
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
    .article-card {
      transform: scale(1.02);
      transition: .3s;
    }
  }
}

.article-card {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  padding: 20px;
  align-items: center;
}

.article-card {
  width: 100%;
  height: 250px;
  display: flex;
  .trix-content {
    margin-top: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.article-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 15px;
}

.article-card-image {
  height: 175px;
  width: 175px;
}

@media(max-width: 992px) {
  .article-card-image {
    align-self: center;
  }
}

@media(max-width: 728px) {
  .article-card {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
  }
  .article-card-text {
    padding: 0;
    margin-top: 20px;
  }
}
