.footer {
  font-size: 14px;
  h4 {
    font-size: 16px;
    color: $soro-green;
    margin: 0;
  }
  border-top: 1px solid $soro-orange;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-links > a {
  color: $soro-green;
}

.footer-infos {
  display: flex;
  align-items: center;
}

.social-medias-footer {
  a {
    text-decoration: none;
    &:hover {
      svg {
        fill: $soro-green;
      }
    }
  }
  svg {
    margin: 0 5px;
    width: 15px;
    fill: $soro-orange;
  }
}

@media(max-width: 576px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-links {
    display: flex;
    justify-content: space-evenly;
  }
  .footer-infos {
    // display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
}
