.home-cards .card-link:nth-child(2) {
  .home-card {
    flex-direction: row-reverse;
    .home-card-text {
      padding-left: 15px;
    }
  }
}

.home-card {
  width: 100%;
  height: 250px;
  display: flex;
  .trix-content {
    div {
      text-align: left;
    }
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
  &:hover {
    color: $soro-orange;
  }
}

.home-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 15px;
  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.home-card-image {
  max-width: 250px;
}

@media(max-width: 992px) {
  .home-card-image {
    max-width: 200px;
    height: 200px;
    align-self: center;
  }
}

@media(max-width: 728px) {
  .home-card {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
  }
  .home-cards .card-link:nth-child(2) {
    .home-card {
      flex-direction: column-reverse;
      .home-card-text {
        padding-left: 0;
      }
    }
  }
  .home-card-text {
    padding: 0;
    margin-top: 20px;
  }
}
