// Import your components CSS files here.
@import "flashes";
@import "avatar";
@import "navbar";
@import "titles";
@import "banner";
@import "home_cards";
@import "right_panel";
@import "instagram";
@import "footer";
@import "article_cards";
@import "contact_form";
@import "utilities";
