.right-panel {
  // position: sticky;
  padding: 0 20px;
  form {
    height: 40px;
  }
}

.right-panel-input {
  color: #777575;
  background-color: #F2F2F2;
  border: none;
  padding-left: 10px;
  width: 100%;
}

.last-article {
  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.newsletter {
  border-color: #FFEDC8;
  border-style: solid ;
  border-width: 1px 0px;
}

.social-medias {
  svg {
    margin: 0 20px;
    fill: $soro-green;
  }
}

@media(max-width: 992px) {
  #newsletter-form {
    flex-direction: column;
    justify-content: center;
  }
  .right-panel-input {
    line-height: 38px;
    margin-bottom: 5px;
  }
}

@media(max-width: 768px) {
  .newsletter {
    margin: 0px;
  }
  .social-medias {
    svg {
      margin: 20px 10px;
    }
  }
  .right-panel-input {
    margin-top: 20px;
  }
}
